
<div *ngIf="room">
  <div *ngIf="!roomForm">
    <h3>{{room.roomName}}</h3>
    Taille de la chambre: {{room.size}}
    <br/>

    <footer>
      <button (click)="deleteRoom()">Supprimer</button>
      <button (click)="openRoomEdition()">Modifier</button>
    </footer>
  </div>


  <form class="container"
        *ngIf="roomForm"
        [formGroup]="roomForm"
        (ngSubmit)="update()">

    <br/>
    <label>
      Nom de la chambre: <input type="text" formControlName="roomName" required>
    </label>
    <br/>
    <label>
      Taille de la chambre: <input type="number" formControlName="size" required>
    </label>

    <br/>
    <br/>
    <button type="submit">Enregistrer</button>
    <button (click)="cancelEdition()">Annuler</button>
  </form>
</div>

<br />
<br />
<a routerLink="/rooms-list">Retour à la liste des chambres</a>
